.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  color: #282c34;
}

section {
  margin: 1em;
}

li {
  list-style-type: none;
}

div.complex-selectors {
  padding: 2% 7.5% 0 7.5%;
  font-size: 0.75em;
  font-weight: lighter;
}

.animation {
  background-image: url("./assets/img/grass.png");
  height: 150px;
  z-index: -1;
  margin-top: -131px;
}

a.not-active {
  text-decoration: none;
  color: white;
}

.github {
  font-size: 1.75em;;
}

#buttons-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#last-section {
  margin: 0;
}
#dafdev {
  width: 2.2em;
  height: 2.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
